<%- include('../adminlayout/adminheader.ejs') %>
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/img/logo.png" alt="">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword">
      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div><!-- End Search Bar -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-primary badge-number">4</span>
        </a><!-- End Notification Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 hr. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>

        </ul><!-- End Notification Dropdown Items -->

      </li><!-- End Notification Nav -->

      <li class="nav-item dropdown">

        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-chat-left-text"></i>
          <span class="badge bg-success badge-number">3</span>
        </a><!-- End Messages Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header">
            You have 3 new messages
            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Maria Hudson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>4 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Anna Nelson</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>6 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
              <div>
                <h4>David Muldon</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>8 hrs. ago</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li class="dropdown-footer">
            <a href="#">Show all messages</a>
          </li>

        </ul><!-- End Messages Dropdown Items -->

      </li><!-- End Messages Nav -->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Kevin Anderson</h6>
            <span>Web Designer</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="#">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Catlog</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        <li>
          <a href="/admin/list-Categorys">
            <i class="bi bi-circle"></i><span>Category List</span>
          </a>
        </li>
        <li>
          <li>
            <a href="/admin/list-brand">
              <i class="bi bi-circle"></i><span>Brand List</span>
            </a>
          </li>
          <li>
        </li>
        <li>
          <a href="/admin/list-Products">
            <i class="bi bi-circle"></i><span>product list</span>
          </a>
        </li>
        <li>
          <a href="/admin/add-Products">
            <i class="bi bi-circle"></i><span>Add products</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Customers</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/customers">
            <i class="bi bi-circle"></i><span>Customer List</span>
          </a>
        </li>
        
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Orders</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/list-orders">
            <i class="bi bi-circle"></i><span>Order list</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Coupons</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/list-coupon">
            <i class="bi bi-circle"></i><span>coupon list</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-contact.html">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.html">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li><!-- End Login Page Nav -->

   

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Form Elements</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item active">Elements</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Products</h5>

              <!-- Add Products Form -->
              <!-- Your form fields here -->
		 <div class="mb-3">
                  <label for="name" class="form-label">Product Name:</label>
                  <input type="text" class="form-control" id="name" name="product" required>
                </div>
                <div class="mb-3">
                  <label for="category" class="form-label">Select Category:</label>
                  <select class="form-select" id="category" name="category" required>
                    <option value="" disabled selected></option>
                    <% categories.forEach(category => { %>
                      <option value="<%= category._id %>"><%= category.name %></option>
                    <% }); %>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="subCategory" class="form-label">Select Subcategory:</label>
                  <select class="form-select" id="subCategory" name="subCategory" required>
                    <option value="" disabled selected></option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="brand" class="form-label">Select Brand:</label>
                  <select class="form-select" id="brand" name="brand" required>
                    <option value="" disabled selected></option>
                    <% brands.forEach(brand => { %>
                      <option value="<%= brand._id %>"><%= brand.name %></option>
                    <% }); %>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="price" class="form-label">Price:</label>
                  <input type="number" class="form-control" id="price" name="price" required>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description:</label>
                  <textarea class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="mb-3">
                  <label for="image" class="form-label">Upload Image:</label>
                  <input type="file" multiple class="form-control" id="image" name="image" accept="image/*" required>
                </div>
                <div id="imagePreviews" class="image-previews bg-dark mb-3"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6"> <!-- Modified to col-lg-6 to make it occupy the right side -->
          <div class="card card-2"> 
            <div class="card-body">
              <!-- Your card-2 content here -->
		 <div class="form-group size-section mt-4">
                <label style="color: #4154f1;" for="Size">Size:</label>
                <br>
                <label class="p-2">
                    <input type="checkbox" name="selectedSizes"  value="S"> S
                    <input type="number" disabled class="sizeInput" id="sizeInputS" name="UnitS" value="Unit" data-size="S">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedSizes" value="M"> M
                    <input type="number" disabled class="sizeInput" id="sizeInputM" name="UnitM" value="Unit" data-size="M">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedSizes" value="L"> L
                    <input type="number" disabled class="sizeInput" id="sizeInputL" name="UnitL" value="Unit" data-size="L">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedSizes" value="XL"> XL
                    <input type="number" disabled class="sizeInput" id="sizeInputXL" name="UnitXL" value="Unit" data-size="M">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedSizes" value="XXL"> XXL
                    <input type="number" disabled class="sizeInput" id="sizeInputXXL" name="UnitXLL" value="Unit" data-size="L">
                </label>
            </div>

            
            <div class="form-group foot-size-section mt-4">
                <label for="footSize">Foot Size:</label>
                <br>
                <label class="p-2">
                    <input type="checkbox"  name="selectedFootSizes" value="US5"> US 5
                    <input type="number" disabled  class="sizeInput" id="sizeInputUS5"  name="UnitUs5" value="Unit">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedFootSizes" value="US6"> US 6
                    <input type="number" disabled class="sizeInput" id="sizeInputUS6" name="UnitUs6" value="Unit">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedFootSizes" value="US7"> US 7
                    <input type="number" disabled class="sizeInput" id="sizeInputUS7" name="UnitUs7" value="Unit">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedFootSizes" value="US8"> US 8
                    <input type="number" disabled class="sizeInput" id="sizeInputUS8" name="UnitUs8" value="Unit">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedFootSizes" value="US9"> US 9
                    <input type="number" disabled class="sizeInput" id="sizeInputUS9" name="UnitUs9" value="Unit">
                </label>
                <label class="p-2">
                    <input type="checkbox" name="selectedFootSizes" value="US10"> US 10
                    <input type="number" disabled class="sizeInput" id="sizeInputUS10" name="UnitUs10" value="Unit">
                </label>
        </div>
          
        <div class="mt-4">
            <label for="totalStock">Total Stock:</label>
            <input type="number" id="totalStock" name="stock" value="0" readonly>
        </div>
        
            
            
        <div class="d-grid mt-5   mx-auto">
          <button class="btn btn-danger" type="submit">Add Product</button>
        </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Add Products Form -->
    </form>
  </section>

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  <script>

    const imageInput = document.getElementById('image');
        const imagePreviews = document.getElementById('imagePreviews');
    
        imageInput.addEventListener('change', function () {
         imagePreviews.innerHTML = '';
    
            // Loop through the selected files and display them as image previews.
            for (const file of imageInput.files) {
                if (file.type.startsWith('image/')) {
                    const img = document.createElement('img');
                    img.className = 'preview-image';
                    img.src = URL.createObjectURL(file);
                    imagePreviews.appendChild(img);
                }
            }
        });
        function enableQuantityInput(checkbox, size) {
            const quantityInput = document.getElementById(`sizeInput${size}`);
            quantityInput.disabled = !checkbox.checked;
            if (!checkbox.checked) {
                quantityInput.value = '';
            }
            calculateTotalStock();
        }
    
        document.getElementById("category").addEventListener("change", function () {
            var categoryId = this.value;
            var subCategoryDropdown = document.getElementById("subCategory");
            var sizeSection = document.querySelector(".size-section");
            var footSizeSection = document.querySelector(".foot-size-section");
    
            subCategoryDropdown.innerHTML = '<option value="" disabled selected>Select a subcategory</option>';
    
            if (categoryId) {
                fetch(`/admin/get-subcategories/${categoryId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.subcategories.forEach(subcategory => {
                            var option = document.createElement("option");
                            option.value = subcategory;
                            option.text = subcategory;
                            subCategoryDropdown.appendChild(option);
                        });
    
                        if (categoryId === '653022856c4a00915ad53fb1') {
                            sizeSection.style.display = 'none';
                            footSizeSection.style.display = 'block';
                        } else if (categoryId === '652e7780a10d6a0f5723e0e2') {
                            sizeSection.style.display = 'block';
                            footSizeSection.style.display = 'none';
                        } else {
                            sizeSection.style.display = 'none';
                            footSizeSection.style.display = 'none';
                        }
                    });
            }
        });
    
           function calculateTotalStock() {
            const sizeInputs = document.querySelectorAll(".sizeInput");
            let totalStock = 0;
            sizeInputs.forEach(input => {
                const size = input.dataset.size;
                const quantity = parseInt(input.value);
                if (!isNaN(quantity) && quantity >= 0 && !input.disabled) {
                    totalStock += quantity;
                }
            });
    
            const totalStockInput = document.getElementById("totalStock");
            totalStockInput.value = totalStock;
        }
    
        const sizeInputs = document.querySelectorAll(".sizeInput");
        sizeInputs.forEach(input => {
            input.addEventListener("input", calculateTotalStock);
        });
    
        const sizeCheckboxes = document.querySelectorAll("input[name='selectedSizes']");
        sizeCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                const size = this.value;
                enableQuantityInput(this, size);
            });
        });
    
        const footSizeCheckboxes = document.querySelectorAll("input[name='selectedFootSizes']");
        footSizeCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                const footSize = this.value;
                enableQuantityInput(this, footSize);
            });
        });
    
        calculateTotalStock();
    </script>




<%- include('../adminlayout/adminfooter.ejs') %>