<%- include('../adminlayout/adminheader.ejs') %>
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
  
    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->
  
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
  
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
  
        
  
        <!-- End Messages Icon -->
  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>
  
          </ul><!-- End Messages Dropdown Items -->
  
        </li><!-- End Messages Nav -->
  
        <li class="nav-item dropdown pe-3">
  
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->
  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
  
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
  
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
  
      </ul>
    </nav><!-- End Icons Navigation -->
  
  </header><!-- End Header -->
  
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Catlog</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

          <li>
            <a href="/admin/list-Categorys">
              <i class="bi bi-circle"></i><span>Category List</span>
            </a>
          </li>
          <li>
            <li>
              <a href="/admin/list-brand">
                <i class="bi bi-circle"></i><span>Brand List</span>
              </a>
            </li>
            <li>
          </li>
          <li>
            <a href="/admin/list-Products">
              <i class="bi bi-circle"></i><span>product list</span>
            </a>
          </li>
          <li>
            <a href="/admin/add-Products">
              <i class="bi bi-circle"></i><span>Add products</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Customers</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/customers">
              <i class="bi bi-circle"></i><span>Customer List</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Orders</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/list-orders">
              <i class="bi bi-circle"></i><span>Order list</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Coupons</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/admin/list-coupon">
              <i class="bi bi-circle"></i><span>coupon list</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->

     

    </ul>

  </aside><!-- End Sidebar-->
 
  <div class="container list-product-container p-2">
    <div class="row p-lg-5 p-sm-1 p-md-2">
    <h3 style=" color: #4154f1; " class="mb-4  text-center">orders List</h3>
  <table class="table">
      <thead class="">
        <tr>
          <th class="text-center" scope="col">Order ID</th>
          <th class="text-center" scope="col">Order Status</th>
          <th class="text-center" scope="col">Order Date</th>
          <th class="text-center" scope="col">Delivery Date</th>
          <th class="text-center" scope="col">Total Items</th>
          <th class="text-center" scope="col">Total Price</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <% paginationData.paginatedData.forEach((orders,index) => { %>
              <tr>
                  <td class="text-center"><%= orders._id %></td>
                  <td>
                    <form id="updateForm<%= orders._id %>" action="/admin/order-update" method="POST">
                      <input type="hidden" name="orderId" value="<%= orders._id %>">
                      <select style="border: 1px solid #4154f1; ;" name="newStatus">
                        <option  class=".order-status-color" value="<%= orders.orderStatus %>"><%= orders.orderStatus %></option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Delivered">Delivered</option>
                      </select>
                      <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
                    </form>
                  </td>
                  
                  

                <% let orderDate = orders.orderDate %>
                 <% let dd = orderDate.getDate(); %>
                  <% let mm = orderDate.getMonth() + 1; %>
                 <% let yyyy = orderDate.getFullYear();%>
                 <% if (dd < 10) { %>
                     <% dd = '0' + dd;%>
               <%   } %>
                 <% if (mm < 10) {%>
                    <%  mm = '0' + mm; %>
                <%   } %>
                 <% orderDate = dd + '/' + mm + '/' + yyyy; %>

                  <td class="text-center"><%= orderDate %></td>
                  <td class="text-center deliveryDate"><%= orders.deliveryDate %></d>
                  <td class="text-center"><%= orders.totalItems %></td>
                  <td class="text-center"><%= orders.total %></td>
                  <td>
                    <a class="btn btn-outline-primary btn-sm " href="/admin/delete-product">cancle</a> 
                  </td>
                </tr>
  
         <% }); %>
      </tbody>
    </table>
    
    <div class="row">
      <div class="col-lg-12">
        <div class="product__pagination">
          <% for (let i = 1; i <= paginationData.totalPages; i++) { %>
            <a  style="color: #4154f1;border-color:#4154f1 ;" class="<%= i === paginationData.currentPage ? 'active' : '' %>" href="?page=<%= i %>"><%= i %></a>
          <% } %>
        </div>
      </div>
    </div>
   </div>
  </div>
    
<script>
    
    document.addEventListener("DOMContentLoaded", function () {
    const statusElements = document.querySelectorAll('.order-status-color');
      console.log('statusElements')
    statusElements.forEach(statusElement => {
      const statusText = statusElement.innerText.trim();

      console.log('status text',statusText);
      if (statusText.toLowerCase() === 'placed') {
        statusElement.style.color = 'green';
      } else {
        statusElement.style.color = 'red';
      }
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    const deliveryDates = document.querySelectorAll('.deliveryDate');

    deliveryDates.forEach(deliveryDate => {
        const date = deliveryDate.innerText.trim();
        console.log('date', date);
        let currentDate = new Date();
            let dd = currentDate.getDate();
        let mm = currentDate.getMonth() + 1;
        
        let yyyy = currentDate.getFullYear();
        
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        currentDate = dd + '/' + mm + '/' + yyyy;
        
        // currentDate = currentDate.getDate();
        console.log('current date ', currentDate);

        if (date > currentDate) {
            deliveryDate.style.color = 'green';
        } else {
            deliveryDate.style.color = 'red';
        }
    });
});

</script>
<%- include('../adminlayout/adminfooter.ejs') %>