<%- include('../layouts/header.ejs') %>
<% if(typeof userData !== 'undefined'){ %>
   
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/home">Home</a>
                            <span>Coupons</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
<% }else{ %>
 
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Coupons</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<% }  %>


<div class="container coupon-container ">
  <div class="row">
    <% if(userCollection && userCollection.coupons){ %>
        <% userCollection.coupons.forEach(coupon => { %>
        <div class="col-6">
            <div class="wrapper d-flex justify-content-center align-items-center">

                <div class="card coupon-card">
        
        
                <div class="cross-bg">
                    
                </div>
        
                <div class="content">
        
                <div class="logo text-right">
                
                </div>
        
                <div class="text-center text-uppercase text-white off">
        
        
                    <span class="text-white">Flat</span>
                    <h1  class="mt-0 text-white "><%=coupon.offer %>%</h1>
                    
                </div>
        
                <div class="text-center text-white">
        
                    <span class="plus text-white ">use</span>
                    
                </div>
        
        
                <div class="text-center text-uppercase text-white">
        
        
                
                    <h5 class="m-0  text-white "><%= coupon.name %> </h5>
                    
                </div>
        
        
                <div class="px-5 mb-3">
                    
                    <div class="code text-center mt-4">
        
                    <span>Use code : <%= coupon.code %></span>
                    <!-- <span class="material-symbols-outlined">
                    content_copy
                    </span> -->
                </div>
        
                </div>
        
                </div>
        
                
                </div>
        
                
                
            </div>
        </div>

        <% }) %>
    <% }else{ %>
        <div class="div p-4">
            <p class="text-danger">No coupons are available</p>
        </div>
    <% } %>
   </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a class="navbar-brand fw-bold fs-3 ps-2" href="#"><span class="text-white ">MAC</span><span class="text-danger">ALO</span></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                        aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>


<%- include('../layouts/header.ejs') %>


         
         
         
          
